.logo {

  &__image {
    height: 16px;
    width: 130px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include onDesktop {
      height: 24px;
      width: 190px;
    }

    @include onTablet {
      height: 24px;
      width: 190px;
    }
  }
}
